@import url(css/reset.css);

body {
	height: 100vh;
	background-color: #e2e8f0;
	font-family: "Roboto";
}

.icon {
	width: 30px;
	filter: brightness(0) invert(1);
}

.nofilter {
	filter: none;
}
/* Containers */
.main-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 200px 1fr;
}

.sidebar {
	padding: 15px;
	grid-row: 1 / -1;
	background-color: #1992d4;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.header {
	padding: 15px 70px;
	background-color: #FFF;
	box-shadow: 1px 2px 8px rgba(71, 71, 71, 0.478);
	display: grid;
	grid-template-columns: 5fr 3fr;
	grid-template-rows: 2fr 3fr;
	align-items: center;
	gap: 20px 8px;
}

.main-content {
	margin: 30px;
	display: grid;
	grid-template-columns: 5fr 2fr;
	grid-template-rows: 50px 1fr;
	gap: 30px;
}
/* Sidebar */

.sidebar div {
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
	column-gap: 10px;
}

ul {
	display: grid;
	grid-template-columns: 1fr 5fr;
	gap: 10px;
}

.sidebar img {
	justify-self: center;
	align-self: center;
}

li {
	padding: 10px;
}

a, .sidebar p {
	color: white;
	font-weight: bold;
	font-size: 23px;
}
 
.sidebar p {
	font-size: 30px;
}
/* Header */
.search-container {
	display: flex;
	align-items: center;
	gap: 15px;
}

input[type="text"] {
	background-color: #e2e8f0;
	width: 90%;
	height: 35px;
	border: 2px solid transparent;
	padding: 5px;
	border-radius: 15px;
}

input[type="text"]:focus {
	border: 3px solid #1992d4;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
}

button {
	padding: 13px 38px;
	background-color: #1992d4;
	color: white;
	font-size: 17px;
	font-weight: bold;
	border-radius: 30px;
	border: none;
}

.admin-photo {
	border-radius: 50%;
}

.account-part {
	margin-right: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
}

.account-part p {
	font-weight: bold;
	font-size: 20px;
}

.greetings {
	display: flex;
	align-items: center;
	gap: 30px;
}

.greetings a, .greetings div > p:last-child {
	color: black;
	font-size: 27px;
}

.greetings p {
	font-weight: bold;
}

.greetings div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/* Main Content */
h1 {
	align-self: center;
	font-size: 25px;
	font-weight: 400;
}

.projects {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(2, 1fr);
	gap: 30px;
}

.card, .panel {
	padding: 20px;
	background-color: white;
	border-radius: 15px;
	border-left: 10px solid #f0b429;
	box-shadow: 1px 2px 8px rgba(71, 71, 71, 0.478);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
}

.card-content {
	flex: 3;
	display: flex;
	padding-right: 100px;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
}

.card-links {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	gap: 30px;
}

h2 {
	font-size: 25px;
	font-weight: 500;
}

.card-content > p, .panel > p {
	font-size: 16px;
	color: #7e7e7e;
}

.right-side-panel {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	gap: 70px;
}
