@import url(css/reset.css);

body {
	height: 100vh;
	background-color: #e2e8f0;
	font-family: "Roboto";
}

/* Containers */
.main-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 200px 1fr;
}

.sidebar {
	padding: 10px;
	grid-row: 1 / -1;
	background-color: #1992d4;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.header {
	padding: 30px;
	background-color: #FFF;
	box-shadow: -1px 5px 5px rgba(71, 71, 71, 0.478);
	display: grid;
	grid-template-columns: 5fr 3fr;
	grid-template-rows: 2fr 3fr;
	align-items: center;
}

.main-content {
	margin: 30px;
	display: grid;
	grid-template-columns: 5fr 2fr;
	grid-template-rows: 100px 1fr;
	gap: 30px;
}
/* Sidebar */

.sidebar div {
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
}

ul {
	display: grid;
	grid-template-columns: 1fr 5fr;
	row-gap: 10px;
}

.sidebar img {
	justify-self: center;
	align-self: center;
}

li {
	padding: 10px;
}

a, .sidebar p {
	color: white;
	font-weight: bold;
	font-size: 20px;
}
 
.sidebar p {
	font-size: 30px;
}
/* Header */
.search-container {
	display: flex;
	align-items: center;
	gap: 15px;
}


input[type="text"] {
	background-color: rgba(173, 173, 173, 0.453);
	width: 60%;
	border: none;
	padding: 5px;
	border-radius: 15px;
}

/* Main Content */
h1 {
	align-self: center;
}

.projects {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(2, 1fr);
	gap: 30px;
}

.card {
	background-color: white;
}

.right-side-panel {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	gap: 70px;
}

.panel {
	background-color: white;
}